<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.demo.mapper.PUmAuthorityResourceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.demo.po.PUmAuthorityResource" >
    <result column="AUTHORITYID" property="authorityid" jdbcType="VARCHAR" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR" />
    <result column="FLAGINFO" property="flaginfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    AUTHORITYID, RESOURCE_ID, FLAGINFO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.demo.po.PUmAuthorityResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_UM_AUTHORITY_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.com.demo.po.PUmAuthorityResourceExample" >
    delete from P_UM_AUTHORITY_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.demo.po.PUmAuthorityResource" >
    insert into P_UM_AUTHORITY_RESOURCE (AUTHORITYID, RESOURCE_ID, FLAGINFO
      )
    values (#{authorityid,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{flaginfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.demo.po.PUmAuthorityResource" >
    insert into P_UM_AUTHORITY_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorityid != null" >
        AUTHORITYID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="flaginfo != null" >
        FLAGINFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorityid != null" >
        #{authorityid,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="flaginfo != null" >
        #{flaginfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.demo.po.PUmAuthorityResourceExample" resultType="java.lang.Integer" >
    select count(*) from P_UM_AUTHORITY_RESOURCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update P_UM_AUTHORITY_RESOURCE
    <set >
      <if test="record.authorityid != null" >
        AUTHORITYID = #{record.authorityid,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceId != null" >
        RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.flaginfo != null" >
        FLAGINFO = #{record.flaginfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update P_UM_AUTHORITY_RESOURCE
    set AUTHORITYID = #{record.authorityid,jdbcType=VARCHAR},
      RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR},
      FLAGINFO = #{record.flaginfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>